[submodule "franka_ros"]
	path = franka_ros
	url = https://github.com/frankaemika/franka_ros
[submodule "panda_moveit_config"]
	path = panda_moveit_config
	url = https://github.com/ros-planning/panda_moveit_config.git
